# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Data and Models
data/
models/
*.csv
*.xlsx
*.parquet
*.h5
*.pt
*.pth
*.pkl
